<script setup lang="ts">
import { computed } from 'vue'
import { handleBackground } from '../layoutHelper'

const props = defineProps({
  background: {
    // random image from a curated Unsplash collection by Anthony
    //default: 'https://source.unsplash.com/collection/94734566/1920x1080',
    default: '/full.png',
  },
})

const style = computed(() => handleBackground(props.background, false))
</script>

<template>
  <div class="slidev-layout center w-full h-full grid"
       :style="style">
    <div class="my-auto text-center">
      <slot />
    </div>
  </div>
</template>
