<!--
  Usage:
```md
---
layout: title-two-cols
---

# Title

::left::
# Left
This shows on the left
::right::
# Right
This shows on the right
```
-->

<script setup lang="ts">
import { computed } from 'vue'
import { handleBackground } from '../layoutHelper'

const props = defineProps({
  class: {
    type: String,
  },
  background: {
    // random image from a curated Unsplash collection by Anthony
    //default: 'https://source.unsplash.com/collection/94734566/1920x1080',
    default: '/half.png',
  },
})

const style = computed(() => handleBackground(props.background, false))
</script>

<template>
  <div class="slidev-layout title w-full h-full grid"
       :style="style">
      <slot />
    <div class="two-columns w-full h-full grid grid-cols-2">
      <div class="col-left" :class="props.class">
        <slot name="left" />
      </div>
      <div class="col-right" :class="props.class">
        <slot name="right" />
      </div>
    </div>
  </div>
</template>
